@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Pathway Extreme', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #F5EDE9 !important;
}