#team{
    .slider_container{
        max-width: 1400px;
        margin: auto;
        .swiper{
            .swiper-wrapper{
                display: flex;
                align-items: center;
                .swiper-slide{
                    padding: 30px;
                    background-color: #f9f5f3;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    #team{
        .slider_container{

            .swiper{
                .swiper-wrapper{
                    .swiper-slide{
                    width: 100% !important;
                    }
                }
            }
        }
    }
}